doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    link(rel="stylesheet", href="/css/output.css")
  body(class="bg-zinc-950 text-gray-100 min-h-screen flex flex-col")
    include partials/navbar.pug
    main(class="flex-1 container mx-auto px-4 py-8")
      block content
    include partials/footer.pug
